header{
  background: #85929e;
  color: white;
  text-align: center;
  margin: 1%;
  padding: 2%;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  border:2px solid black;
}
 a img{
  display: block;
  margin:1% 3% 0 auto;
  width:10%;
  height:20%;
}
.child img{
  width: 280px;
  height: 280px;
}
.child{
  width: 30%;
  text-align: center;
border:2px solid black;
}
.parent{
  display: flex;
}
